<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<title>Datos</title>
	<link rel="icon" href="data:," />
</head>

<body>

	<div th:replace="navegacion :: navegacion"></div>

	<form th:action="@{/registro/paso3}" method="post" th:object="${DatosBancarios}">

		<fieldset>

			<legend>Datos bancarios</legend>

			<label>
				<span>Cuenta Corriete</span>
				<input type="text" name="cuenta" id="cuenta" th:field="*{cuenta}" />
			</label>
			<br>
			<input type="submit" value="Grabar información e ir al resumen final" />

		</fieldset>
	</form>

</body>

</html>